@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-serif);
  --font-mono: var(--font-instrument-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument-serif), Helvetica, sans-serif;
}

.decorate a {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-color: currentColor;
  transition: text-decoration-color .4s ease;
}

.decorate a:hover {
  text-decoration-color: transparent;
}



.col p {
  color: var(--copy);

}

.col p .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.col p .line span {
  position: relative;
  will-change: tranform;
}


